In [1]:
import pymongo

In [2]:
dbcon=pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
dbname="demodb"#if the db is not present then it will be created by the command
db=dbcon[dbname]

In [4]:
print(dbcon.list_database_names())#it will not show the demodb coz it is empty

['admin', 'config', 'demodb', 'local']

In [5]:
#to check whether a db is present or not
dblist=dbcon.list_database_names()
print(dblist)
db_name="demodb"
if db_name in dblist:
    print("db exists")
else:
    print("db not exists")

['admin', 'config', 'demodb', 'local']
db exists

In [6]:
collection_name="mongo_demo"#here this collection is being created coz it is already not present
collection=db[collection_name]

In [7]:
coll_list=db.list_collection_names()#to check the list of collection since there is no collection no result

In [8]:
myrow={"seriel number":1,
       "name":"manu",
       "rank":1,
       "salary":100000000000
      }

In [9]:
x=collection.insert_one(myrow)

In [10]:
print(x.inserted_id)

5f0742f7f2c8ad417a04db51

In [11]:
my_rows=[{"seriel number":2,
          "name":"neelu",
          "rank":10,
          "salary":1000},
         
         {"seriel number":3,
          "name":"king",
          "rank":4,
          "salary":10000}]

In [12]:
y=collection.insert_many(my_rows)

In [13]:
print(y.inserted_ids)

[ObjectId('5f0742f8f2c8ad417a04db52'), ObjectId('5f0742f8f2c8ad417a04db53')]

In [20]:
result=collection.find({}).limit(3)
for res in result:
    print(res)

{'_id': ObjectId('5f04c043f45275df32308e3e'), 'seriel number': 1, 'name': 'manu', 'rank': 1, 'salary': 100000000000}
{'_id': ObjectId('5f04c254f45275df32308e40'), 'seriel number': 2, 'name': 'neelu', 'rank': 10, 'salary': 1000}
{'_id': ObjectId('5f04c254f45275df32308e41'), 'seriel number': 3, 'name': 'king', 'rank': 4, 'salary': 10000}

In [15]:
result

In [16]:
print(result)

<pymongo.cursor.Cursor object at 0x00000183EFB35EC8>

In [17]:
result[1]

{'_id': ObjectId('5f04c254f45275df32308e40'),
 'seriel number': 2,
 'name': 'neelu',
 'rank': 10,
 'salary': 1000}

In [25]:
result_some=collection.find({},{'seriel number', 'rank'})
for res in result_some:
    print(res)

{'_id': ObjectId('5f04c043f45275df32308e3e'), 'seriel number': 1, 'rank': 1}
{'_id': ObjectId('5f04c254f45275df32308e40'), 'seriel number': 2, 'rank': 10}
{'_id': ObjectId('5f04c254f45275df32308e41'), 'seriel number': 3, 'rank': 4}
{'_id': ObjectId('5f0742f7f2c8ad417a04db51'), 'seriel number': 1, 'rank': 1}
{'_id': ObjectId('5f0742f8f2c8ad417a04db52'), 'seriel number': 2, 'rank': 10}
{'_id': ObjectId('5f0742f8f2c8ad417a04db53'), 'seriel number': 3, 'rank': 4}

In [30]:
result_query={'rank':1}
re_q=collection.find({'rank':1},{'seriel number','name'})
for res in re_q:
    print(res)

{'_id': ObjectId('5f04c043f45275df32308e3e'), 'seriel number': 1, 'name': 'manu'}
{'_id': ObjectId('5f0742f7f2c8ad417a04db51'), 'seriel number': 1, 'name': 'manu'}

In [31]:

re_q=collection.find({'rank':{'$gt':1}})
for res in re_q:
    print(res)

{'_id': ObjectId('5f04c254f45275df32308e40'), 'seriel number': 2, 'name': 'neelu', 'rank': 10, 'salary': 1000}
{'_id': ObjectId('5f04c254f45275df32308e41'), 'seriel number': 3, 'name': 'king', 'rank': 4, 'salary': 10000}
{'_id': ObjectId('5f0742f8f2c8ad417a04db52'), 'seriel number': 2, 'name': 'neelu', 'rank': 10, 'salary': 1000}
{'_id': ObjectId('5f0742f8f2c8ad417a04db53'), 'seriel number': 3, 'name': 'king', 'rank': 4, 'salary': 10000}

In [37]:
result_query={'rank':1}
re_q=collection.delete_many(result_query)
print(re_q.deleted_count)

1

In [38]:
re_q=collection.find({},{'seriel number','rank'})
for res in re_q:
    print(res)

{'_id': ObjectId('5f04c254f45275df32308e40'), 'seriel number': 2, 'rank': 10}
{'_id': ObjectId('5f04c254f45275df32308e41'), 'seriel number': 3, 'rank': 4}
{'_id': ObjectId('5f0742f8f2c8ad417a04db52'), 'seriel number': 2, 'rank': 10}
{'_id': ObjectId('5f0742f8f2c8ad417a04db53'), 'seriel number': 3, 'rank': 4}

In [39]:
up_criteria={'seriel number':2}
new_value={'$set':{'seriel number':10}}
x=collection.update_many(up_criteria,new_value)
print(x.modified_count)

2

In [40]:
re_q=collection.find({},{'seriel number','rank'})
for res in re_q:
    print(res)

{'_id': ObjectId('5f04c254f45275df32308e40'), 'seriel number': 10, 'rank': 10}
{'_id': ObjectId('5f04c254f45275df32308e41'), 'seriel number': 3, 'rank': 4}
{'_id': ObjectId('5f0742f8f2c8ad417a04db52'), 'seriel number': 10, 'rank': 10}
{'_id': ObjectId('5f0742f8f2c8ad417a04db53'), 'seriel number': 3, 'rank': 4}